a(href="http://volorf.dribbble.com/" title="Cool designer 😎").aboutMe Made by Volorf
.whiteBg
  .oracle oracle
.container
  .switcherOne
    .title Good
    .control
      .circle
  .switcherTwo
    .title Cheap
    .control
      .circle
  .switcherThree
    .title Fast
    .control
      .circle